.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  transition: all ease .3s;
}

<% _.each(symbols, function(symbol) { %>.<%= symbol.name %> {
  width: <%= symbol.ratio %>em;
  height: 1em;
  fill: <%= symbol.fill %>;
}
<% }); %>
