.big-article
  display: block
  transition: all ease-in-out .3s
  &:hover
    box-shadow: 0 15px 30px 0 rgba(#081139, .1)
  &:hover &__name
    color: $style-color3
  &:hover &__photo:after
    opacity: 0
  &__inn, &__photo
    height: 215px
    +r($sm)
      height: 170px
  &__inn
    @extend %table
    +r($xxs)
      display: block
      height: auto
      > *
        display: block
  &__img
    width: 370px
    border-radius: $border-radius 0 0 $border-radius
    overflow: hidden
    +r($sm)
      width: 200px
    +r($xxs)
      width: 100%
      border-radius: $border-radius $border-radius 0 0
  &__photo
    display: block
    transition: all ease-in-out .3s
    overflow: hidden
    position: relative
    &:after
      background: url('../img/color.png') no-repeat
      background-size: cover
      background-size: 100% 100%
      transition: all ease-in-out .3s
      z-index: 1
      opacity: 0.7
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
    html:not(.object-fit) & img
      position: absolute
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
      +trf(translate(-50%, -50%))
      top: 50%
      left: 50%
    .object-fit & img
      width: 100%
      height: 100%
      object-fit: cover
  &__main
    border-radius: 0 $border-radius $border-radius 0
    background: #ffffff
    position: relative
    padding: $cell-padding
    padding-bottom: 50px
    vertical-align: top
    +r($sm)
      padding: 20px
      padding-bottom: 40px
    +r($xxs)
      border-radius: 0 0 $border-radius $border-radius
  &__name
    font-size: 20px
    line-height: 1.4
    color: $font-color
    +r($sm)
      font-size: 16px
  &__category
    color: #999999
    position: absolute
    left: $cell-padding
    bottom: $cell-padding
    +r($sm)
      left: 20px
      bottom: 20px

.m-article
  $animation-duration: .6s
  position: relative
  overflow: hidden
  border-radius: $border-radius
  display: inline-block
  width: 100%
  &:hover &__img
    +trf(scale(1.15))
    &:after
      opacity: 0
  &__img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 0
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    transition: all ease-in-out $animation-duration
    &:before, &:after
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 100%
      content: ''
    &:before
      +linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0) 100%)
      z-index: 0
      height: 70%
    &:after
      background: url('../img/color.png') no-repeat
      background-size: cover
      background-size: 100% 100%
      transition: all ease-in-out $animation-duration
      z-index: 1
      opacity: 0.7
  &__main
    @extend %table
    position: relative
    z-index: 3
  &__inn
    vertical-align: bottom
    padding: 25px
    height: 215px
  &__category
    color: #ffffff
    margin-bottom: 15px
    opacity: .7
  &__desc
    font-size: 16px
    color: #f9faf9
    line-height: 1.4
    text-shadow: 0 1px 7px rgba(#fff, .25)


.rel-article
  $image-height: 160px
  position: relative
  overflow: hidden
  height: 100%
  border-radius: $border-radius
  display: inline-block
  transition: all ease-in-out .3s
  width: 100%
  &:hover
    box-shadow: 0 15px 30px 0 rgba(#081139, .1)
  &:hover &__img:before
    opacity: 0
  &:hover &__photo
    +trf(scale(1.15))
  &:hover &__title
    color: $style-color3
  &__img
    height: $image-height
    border-radius: $border-radius $border-radius 0 0
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 1
    &:before
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 100%
      content: ''
      background: url('../img/color.png') no-repeat
      background-size: cover
      background-size: 100% 100%
      transition: all ease-in-out .3s
      z-index: 10
      opacity: 0.7
  &__photo
    display: block
    transition: all ease-in-out .3s
    +img-cover
  &__main
    height: 100%
    background: #ffffff
    border-radius: 0 0 $border-radius $border-radius
    padding: #{$image-height + 20} 20px 40px
    position: relative
  &__category
    color: #999999
    position: absolute
    left: 20px
    bottom: 20px
  &__title
    font-size: 16px
    line-height: 1.3
    color: $font-color


.article
  background: #ffffff
  border-radius: $border-radius
  padding: $cell-padding
  +r($sm)
    padding: 20px
  &__title
    margin-bottom: 30px
    +r($sm)
      margin-bottom: 20px
  &__container
    p
      @extend .text
      display: block
      &.lg
        font-size: 19px
        +r($sm)
          font-size: 16px
    img
      display: block
      border-radius: $border-radius
      max-width: 100%
    .tight
      padding: 0 40px
      +r($sm)
        padding: 0
    > * + *
      margin-top: 25px
      +r($sm)
        margin-top: 15px
    figure
      margin: 25px 0
      +r($sm)
        margin: 15px 0
    figcaption
      padding: 0 $cell-padding
      display: block
      font-size: 14px
      margin-top: 15px
      color: #999999
      +r($sm)
        margin-top: 10px
        padding: 0 20px
    blockquote
      margin: 15px 0
    .ls
      text-align: center
      +r($xxs)
        text-align: left
      &__inn
        text-align: left
        display: inline-block
        +r($xxs)
          display: block
      &__title
        font-weight: bold
        margin-bottom: 20px
  &__share
    @extend %table
    margin-top: 30px
    &-label
      width: 1%
      white-space: nowrap
      color: #999999
      font-size: 14px
      padding-right: 10px