.cart
  &--mini &__group
    margin-bottom: 20px
    padding-bottom: 20px
  &--mini &__item
    padding: 20px 0
  &__c
    &-sum, &-price, &-amount, &-id
      //text-align: center
      padding-right: 15px
    &-name
      padding-right: 15px
    &-id
      width: 120px
      +r($md)
        display: none
    &-price
      width: 150px
      +r($md)
        width: 120px
      +r($sm)
        display: none
    &-amount
      width: 160px
      +r($xxs)
        display: none
    &-sum
      width: 190px
      +r($sm)
        display: none
    &-remove
      width: 15px
  &__header
    background: #f7f9f8
    border-radius: 5px 5px 0 0
    padding: 20px $cell-padding
    +r($xxs)
      display: none
    &-inn
      @extend %table
      > *
        font-weight: 300
  &__main
    background: #ffffff
    border-radius: 0 0 5px 5px
    padding: 0 $cell-padding $cell-padding
  &__group
    border-bottom: 1px solid #e9f0ec
    padding-bottom: 30px
    margin-bottom: 30px
    +r($sm)
      padding-bottom: 20px
      margin-bottom: 20px
    +r($xxs)
      padding-bottom: 15px
      margin-bottom: 15px
    &:last-child
      border-bottom: 0
      padding-bottom: 0
      margin-bottom: 0
  &__footer
    @extend %table
    +r($xxs)
      display: block
      > *
        display: block
    &-total
      text-align: right
      +r($xxs)
        margin-top: 10px
  &__promo
    position: relative
    &-btn
      position: absolute
      right: 0
      top: 0
      height: 100%
      width: 30px
      background-color: transparent
      border: 0
      cursor: pointer
      &:before
        @extend %ticon
        content: $ticon-chevron-right
        font-size: 10px
        color: $style-color3
        position: absolute
        left: 50%
        top: 50%
        +trf(translate(-50%, -50%))
    .input
      padding-right: 30px
  &__promo, &__cancel
    max-width: 190px
    +r($md)
      max-width: 100%
  &__total
    display: inline-block
    font-size: 18px
    width: 205px
    text-align: left
    +r($xs)
      text-align: right
      width: auto
    span
      color: $style-color3
      font-weight: bold
  &__cancel, &__quick
    font-size: 14px
  &__cancel
    font-weight: 300
  &__quick
    width: 165px
    +r($md)
      width: 100%
  &__actions
    @extend %table
    +r($md)
      display: block
      > *
        display: block
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
    &-submit
      width: 205px
      +r($md)
        width: 100%
    &-quick
      +r($md)
        .block-table
          width: 100%
          > *:last-child
            width: 1%
            white-space: nowrap
  &__quick-label
    font-size: 12px
    color: #999999
    line-height: 1.4
