*
  box-sizing: border-box

html, body
  //height: 100%

html
  -webkit-font-smoothing: antialiased
  font-size: #{$font-size}px
  +r($xxs)
    font-size: 12px
  +selection
    background: $style-color
    color: #fff
  &.scroll-lock
    overflow: hidden

body
  min-width: 320px
  background: #f0f4f2
  color: #151517
  font-family: 'Circe', Arial, -apple-system-body, sans-serif
  font-weight: normal
  line-height: 1
  position: relative
  &.scroll-lock
    overflow: hidden

.tenge, .ruble, .usd, .euro
  &:before
    font-family: 'PTSans-Currencies', -apple-system-body, sans-serif
    font-weight: normal
    display: inline-block
    font-style: normal
    margin-right: 4px
    font-size: 0.9em
  &--i:before
    margin-right: 0
    font-size: 1em
.tenge:before
  content: '\20b8'
.ruble:before
  content: '\20bd'
.usd:before
  content: '\0024'
.euro:before
  content: '\20ac'

a, .link
  text-decoration: none

.link
  &, &:visited
    color: $font-color
  transition: color ease .3s
  font-family: 'Circe'
  &--ul
    text-decoration: underline
  > *
    line-height: 1
  .ticon
    font-size: 1.4em
    margin-right: 3px
    transition: color ease .3s
  span
    border-bottom: 1px dotted #2f2f2f
    transition: color ease .3s
    vertical-align: middle
  &:hover
    color: $style-color3
    .ticon
      color: $style-color3

.ws-nowrap
  white-space: nowrap
.relative
  position: relative
.visible-md
  display: none !important
  +r($md)
    display: block !important

.text-right
  text-align: right
.text-center
  text-align: center
.text-danger
  color: #b8420f
.text-red
  color: #f33535
.text-orange
  color: #e6972c
.text-black
  color: #000
.text-green
  color: #15bd68
.text-violet
  color: #b84ec4
.text-blue
  color: #548ad5
.text-left
  text-align: left
.text-style2
  color: $style-color2
.text-dark-green
  color: #28a031

.bold
  font-weight: bold
.p-0
  padding: 0 !important
.pb-0
  padding-bottom: 0 !important
.pt-0
  padding-top: 0 !important
.mb-0
  margin-bottom: 0 !important
.hidden
  display: none !important

.inline-block
  display: inline-block

.vertical-top
  vertical-align: top !important

.vertical-bottom
  vertical-align: bottom !important

.vertical-middle
  vertical-align: middle !important

.block-table
  display: table
  width: 100%
  > *
    display: table-cell
    vertical-align: middle
  > *
    &.tiny
      width: 1%
      white-space: nowrap

  &--fixed
    table-layout: fixed
  &--auto
    width: auto
  &--padding > *
    padding: 0 5px
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
  &--top > *
    vertical-align: top

.rotate-effect-hover
  transition: all ease .3s
  transform-origin: center
  line-height: 1
  &:hover
    +trf(rotate(180deg))

%shadow
  position: absolute
  height: 100%
  width: 100%
  left: 0
  top: 0
  background: rgba(0, 0, 0, 0.6)
  animation: fadeIn .3s forwards

.shadowed
  position: relative
  &:after
    content: ''
    position: absolute
    height: 100%
    width: 100%
    left: 0
    top: 0
    background: rgba(0, 0, 0, 0.6)
    z-index: 98
    animation: fadeIn .3s forwards

%table
  display: table
  width: 100%
  > *
    display: table-cell
    vertical-align: middle

.hidden-xs
  +r($xs)
    display: none !important
.hidden-md
  +r($md)
    display: none !important
.hidden-lg
  +r($lg)
    display: none !important
.hidden-ipad
  +r($ipad)
    display: none
.hidden-sm
  +r($sm)
    display: none !important
.visible-sm
  +r($sm)
    display: block !important

.xvisible-sm
  display: none !important
  +r($sm)
    display: block !important

.xvisible-xs
  display: none !important
  +r($xs)
    display: block !important

.xvisible-md
  display: none !important
  +r($md)
    display: block !important
.xvisible-lg
  display: none !important
  +r($lg)
    display: block !important
.xvisible-mw
  display: none !important
  +r($max-width)
    display: block !important
%customScroll
  position: relative
  padding-right: 15px
  .ps__scrollbar-y-rail
    width: 2px !important
    background: #969696 !important
    opacity: 1 !important
    right: 2px !important
  .ps__scrollbar-y
    width: 6px !important
    border: 1px solid #525252 !important
    background: #d9e0e8 !important
    border-radius: 0 !important
    right: -2px !important
    cursor: pointer

.slideout-open, .slideout-open body
  overflow: hidden

// Font icons overflow
.ticon-vk
  font-size: 0.7em