@import helpers/mixins


@font-face
  font-family: 'PTSans-Currencies'
  +font('PTSans-Currencies')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Circe'
  +font('Circe-ExtraLight')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Circe'
  +font('Circe-Light')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Circe'
  +font('Circe-Regular')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Circe'
  +font('Circe-Bold')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Circe'
  +font('Circe-ExtraBold')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Phenomena'
  +font('Phenomena-Bold')
  font-weight: bold
  font-style: normal
