.footer
  border-top: 1px solid #e2e6e4
  &__top
    padding: 50px 0
    display: flex
    flex-wrap: wrap
    margin: 0 -#{$cell-padding / 2} -$cell-padding
    +r($lg)
      margin: 0 -10px -15px
    +r($sm)
      padding: 30px 0
    +r($xxs)
      padding: 20px 0
    &-cell
      width: 25%
      padding: 0 $cell-padding / 2 $cell-padding
      +r($lg)
        padding: 0 10px 15px
      +r($xs)
        width: 50%
  &__menu
    &-title
      font-size: 18px
      color: $style-color2
      margin-bottom: 20px
      +r($xxs)
        margin-bottom: 10px
        font-size: 15px
    &-list
      list-style: none
    &-item
      margin-bottom: 8px
      +r($xxs)
        margin-bottom: 4px
      &:last-child
        margin-bottom: 0
    &-link
      color: #666666
      line-height: 1.6
  &__bottom
    background: #f9faf9
    padding: 25px 0
    &-inn
      @extend %table
  &__logo
    max-width: 40px
    width: 100%
    display: block
    vertical-align: top
  &__copyright, &__develop
    font-weight: 200
  &__copyright
    width: $cell * 3
    +r($sm)
      width: 200px
  &__share
    padding-left: $cell-padding
    +r($md)
      display: none
    .socials__link:before
      color: #a0acbd
  &__pay
    display: flex
    flex-wrap: wrap
    +r($xs)
      display: none
    &-item
      border: 1px solid #e2e7e5
      height: 30px
      line-height: 30px
      text-align: center
      width: 50px
      margin-right: 5px
      &:last-child
        margin-right: 0
  &__develop
    text-align: right
    &-inn
      @extend %table
      @extend .block-table--padding
      width: auto
      +r($xxs)
        display: block
        > *
          display: block
    &-label
      +r($xxs)
        margin-bottom: 5px
  &__denisov
    font-size: 26px
    transition: all ease-in-out .3s
    > *
      fill: #9a9b9a
    &:hover > *
      fill: #C53B32 !important