%colored
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: url('../img/color.png') no-repeat
  background-size: cover
  content: ''
  z-index: 0
  display: block

.title, .subtitle
  color: $style-color2
  text-transform: uppercase
  font-family: 'Phenomena'
  font-weight: bold
  line-height: 1.2

.title
  font-size: 30px
  +r($sm)
    font-size: 27px
  +r($xxs)
    font-size: 25px

.subtitle
  font-size: 24px

.list
  list-style: none
  text-align: left
  &.col2
    columns: 2
    +r($xxs)
      columns: 1
  > li
    font-size: 17px
    font-weight: 300
    margin-bottom: 15px
    padding-left: 15px
    position: relative
    +r($sm)
      font-size: 15px
    +r($xxs)
      font-size: 12px
    &:before
      position: absolute
      content: ''
      left: 3px
      top: 50%
      width: 5px
      height: 5px
      background: $style-color
      margin-top: -4px
      border-radius: 50%
    &:last-child
      margin-bottom: 0

.quote
  display: block
  padding: 0 $cell-padding
  position: relative
  &:before, &:after
    position: absolute
    font-family: 'Phenomena'
    font-weight: bold
    font-size: 42px
    color: $style-color
    z-index: 1
    margin-top: -#{+em(16, 42)}
  &:before
    top: 0
    left: 0
    content: '\00AB'
  &:after
    bottom: 0
    right: 0
    content: '\00BB'
  &__text
    font-size: 17px
    line-height: 1.5
    font-weight: 300
    text-align: justify
    +r($xxs)
      font-size: 15px
  &__author
    font-size: 14px
    color: #999999
    margin-top: 10px
    +r($xxs)
      font-size: 13px

.table
  overflow: auto
  width: 100%
  table
    width: 100%
    border: 0
    border-collapse: collapse
    border-radius: $border-radius
  td, th
    padding: 20px
    border: 1px solid $style-color4
    font-size: 14px
    +r($xxs)
      font-size: 12px
      padding: 10px
  th
    font-weight: 300
    background: #f7f9f8
    text-align: left

.text
  font-size: 15px
  font-weight: 300
  line-height: 1.7
  +r($xs)
    font-size: 13px
  &--md
    font-size: 17px
    +r($xs)
      font-size: 15px
  &--lg
    font-size: 19px
    line-height: 1.5
    +r($xs)
      font-size: 17px

.logo
  display: inline-block
  vertical-align: middle
  &__inn
    @extend %table
  &__img
    width: 35px
    font-size: 0
    img
      max-width: 100%
      width: 100%
  &__name
    padding-left: 10px
    color: $style-color
    text-transform: uppercase
    font-size: 34px
    font-family: 'Phenomena'
    font-weight: bold

.modal
  background: #fff
  border-radius: 7px
  &__title
    margin-bottom: 35px
    +r($sm)
      margin-bottom: 25px
    +r($xxs)
      margin-bottom: 20px
  &__inn
    padding: 35px
    +r($xs)
      padding: 25px
    +r($xxs)
      padding: 15px
  &__close
    position: absolute
    right: 35px
    top: 45px
    z-index: 1
    font-size: 0
    background-color: transparent
    border: 0
    +r($xs)
      top: 35px
    +r($xxs)
      top: 25px
    &:before
      @extend %ticon
      font-size: 13px
      color: #b7b7b7
      content: $ticon-close
      transition: all ease .3s
    &:hover:before
      color: $style-color2

.carousel
  position: relative
  .swiper-dots
    position: absolute
    width: 100%
    bottom: 0
    left: 0
    text-align: center
    font-size: 0
    z-index: 9
  .swiper-dot
    width: 10px
    height: 10px
    display: inline-block
    vertical-align: middle
    border-radius: 50%
    margin-right: 5px
    overflow: hidden
    cursor: pointer
    &:last-child
      margin-right: 0
  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 50%
    +trf(translateY(-50%))
    font-size: 0
    z-index: 9
    transition: all ease .3s
    &:hover:before
      color: $style-color3
    &:before
      @extend %ticon
      display: block
      font-size: 20px
      color: #fff
      transition: all ease .3s
  .swiper-prev
    left: 0
    &:before
      content: $ticon-chevron-left
  .swiper-next
    right: 0
    &:before
      content: $ticon-chevron-right
  .swiper-button-disabled
    opacity: .3

.items
  * + &
    padding-top: 60px
    +r($sm)
      padding-top: 40px
    +r($xxs)
      padding-top: 30px
  &__title
    margin-bottom: 35px
    +r($sm)
      margin-bottom: 25px
    +r($xxs)
      margin-bottom: 20px
  &__list
    display: flex
    flex-wrap: wrap
    margin: 0 -#{$cell-padding / 2} -$cell-padding
    +r($lg)
      margin: 0 -10px -20px
  &__cell
    padding: 0 $cell-padding / 2 $cell-padding
    +r($lg)
      padding: 0 10px 20px
    &.w33
      width: 33.333%
      +r($xs)
        width: 100%
        .product__inn
          height: auto
        .product__main
          padding-top: 20px
          padding-bottom: 20px
        .product__add-to-set
          margin-bottom: -20px
        .product__name, .product__desc
          height: auto
    &.w25
      width: 25%
      +r($sm)
        width: 50%
      +r($xxs)
        width: 100%
        .product__inn
          height: auto
        .product__main
          padding-top: 20px
          padding-bottom: 20px
        .product__name, .product__desc
          height: auto
        .product__add-to-set
          margin-bottom: -20px
  &__row
    margin-bottom: $cell-padding
    +r($sm)
      margin-bottom: 20px
    &:last-child
      margin-bottom: 0
  &__pagination
    padding-top: 35px
  &__seo
    margin-top: 50px
    padding: $cell-padding
    background: #fff
    border-radius: $border-radius
    +r($sm)
      margin-top: 30px
      padding: 20px
    .title
      margin-bottom: 25px
    .subtitle
      margin-bottom: 20px
    .text
      margin-bottom: 30px
      +r($sm)
        margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  .swiper-prev, .swiper-next
    &:before
      color: #b2b2b2
      +r($sm)
        font-size: 18px
      +r($xxs)
        font-size: 15px
  .swiper-nav
    position: absolute
    top: -50px
    right: 0
    +r($sm)
      top: -42px
    +r($xxs)
      top: -37px
  .swiper-prev
    left: auto
    right: 65px
    +r($sm)
      right: 30px

.product
  transition: all ease-in-out .3s
  @keyframes shine
    100%
      left: 125%
  &:hover
    box-shadow: 0 15px 30px 0 rgba(#081139, .1)
  &:hover &__img:before
    animation: shine .75s
  &:hover &__photo
    html:not(.object-fit) &
      +trf(translate(-50%, -50%) scale(1.15))
    .object-fit &
      +trf(scale(1.15))
  &--new &__inn
    &:before
      background: #c84242
      content: 'Новика'
    &:after
      +arr(6, 6, #c84242, tl)
  &--advice &__inn
    &:before
      background: #f16d50
      content: 'Мы советуем'
    &:after
      +arr(6, 6, #f16d50, tl)
  &--action &__inn
    &:before
      background: #33b187
      content: 'Акция'
    &:after
      +arr(6, 6, #33b187, tl)
  &--simple &__inn
    height: 95px
  &--simple &__main
    border: 1px solid $style-color4
    border-top: 0
  &--simple &__name
    height: auto
    margin-bottom: 0
  &--simple &__desc
    height: auto
    margin-top: 13px
  &--set &__img
    height: 130px
  &--set &__inn
    height: auto
  &--set &__main
    padding: 15px
    border: 1px solid $style-color4
    border-top: 0
  &--set &__name
    height: auto
    margin-bottom: 8px
    font-size: 16px
  &--set &__desc
    height: auto
    margin-bottom: 13px
  &.is-added
    //
  &__img
    overflow: hidden
    display: block
    border-radius: $border-radius $border-radius 0 0
    position: relative
    height: 190px
    +r($xxs)
      height: 150px
    &:before
      position: absolute
      top: 0
      left: -75%
      z-index: 2
      display: block
      content: ''
      width: 50%
      height: 100%
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
      -webkit-transform: skewX(-25deg)
      transform: skewX(-25deg)
  &__photo
    display: block
    transition: transform ease-in-out .3s
    +img-cover
  &__inn
    @extend %table
    height: 125px
    position: relative
    &:before, &:after
      position: absolute
      left: 0
      z-index: 1
      display: block
    &:before
      bottom: 100%
      font-size: 11px
      color: #ffffff
      padding: 7px 10px 4px
      text-transform: uppercase
    &:after
      top: 0
      content: ''
  &__main
    padding: 23px
    background: #fff
    border-radius: 0 0 $border-radius $border-radius
  &__name
    font-size: 18px
    display: inline-block
    height: 20px
    margin-bottom: 5px
    +r($xxs)
      font-size: 16px
  &__desc
    color: #999999
    height: 35px
    line-height: 1.2
  &__action
    margin-top: 5px
    @extend %table
    &-right
      width: 1%
      white-space: nowrap
      padding-left: 10px
  &__price
    font-size: 16px
  &__cart
    display: inline-block
    position: relative
    &.is-active
      &:before
        color: #15bd68 !important
      &:after
        opacity: 1
    &:before
      @extend %ticon
      content: $ticon-bag
      font-size: 20px
      color: #a0acbd
      display: block
      transition: color ease .3s
    &:after
      @extend %ticon
      content: $ticon-mark
      position: absolute
      right: -9px
      top: 4px
      padding: 5px
      border-radius: 50%
      background: #15bd68
      color: #fff
      display: block
      opacity: 0
      transition: all ease .3s
      font-size: 7px
    &:hover:before
      color: $style-color2
  &__add-to-set
    font-weight: 300
    font-size: 15px
    display: block
    padding: 15px 10px
    text-align: center
    color: $font-color
    border-radius: 0 0 $border-radius $border-radius
    margin: 20px -23px -10px
    border-top: 1px solid #e9f0ec
    transition: all ease-in-out .3s
    &:hover
      color: #ffffff
      background: $style-color3
      border-top-color: $style-color3
  &__calc
    &-times
      margin-right: 2px
      &:before
        @extend %ticon
        content: $ticon-close
        font-size: 7px
        color: #a1a1a1
    &-old
      margin-top: 7px
      .old-price
        color: #999999
        font-size: 13px
        &:before
          background: #b2b2b2
          height: 1px

.small-product
  display: inline-block
  text-align: left
  &__inn
    @extend %table
    width: auto
  &__img
    padding-right: 15px
  &__photo
    border-radius: $border-radius
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 60px
    display: block
    height: 50px
  &__name
    font-size: 16px
  &__desc
    display: block
    font-size: 13px
    margin-top: 10px

.certs
  overflow: hidden
  height: 100px
  padding-top: 20px
  +linear-gradient(to top, #fdfdfd 0%, #fff 100%)
  &__inn
    display: flex
    flex-wrap: nowrap
    align-items: flex-start
    margin: 0 -#{$cell-padding / 2}
  &__item
    padding: 0 $cell-padding / 2
    position: relative
    &:nth-child(2n)
      top: 10px
    &.w16
      width: 16.666%
    &.w20
      width: 20%
    img
      max-width: 100%
      width: 100%
      display: block
      vertical-align: top
      position: relative
      transition: all ease-in-out .3s
      top: 0
      &:hover
        top: -20px

.socials
  display: flex
  flex-wrap: wrap
  margin: 0 -#{$cell-padding / 4} -10px
  &__item
    padding: 0 $cell-padding / 4 10px
  &__link
    font-size: 0
    display: block
    transition: all ease .3s
    =i($color, $icon)
      color: $color
      &:before
        content: $icon
      &:hover:before
        color: $color !important
    &:before
      @extend %ticon
      display: block
      font-size: 16px
      transition: all ease-in-out .3s
    &:hover
      opacity: .8
    &--facebook
      +i($fb-color, $ticon-facebook)
    &--telegram
      +i($tg-color, $ticon-telegram)
    &--instagram
      +i($inst-color, $ticon-instagram)
    &--vk
      +i($vk-color, $ticon-vk)

.form
  &__row
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0

.pagination
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &__prev, &__next, &__link
    color: $font-color
    font-size: 14px
    transition: all ease .3s
    &:hover
      color: $style-color3
  &__prev, &__next
    +r($tiny)
      font-size: 0
    &:before, &:after
      @extend %ticon
      display: inline-block
      vertical-align: middle
      font-size: 9px
      color: #b7b8b7
      margin-top: -#{+em(3px, 14px)}
  &__prev
    @at-root span#{&}
      color: #b2b2b2
  &__next
    @at-root span#{&}
      color: #b2b2b2
  &__prev:before
    content: $ticon-chevron-left
    margin-right: 8px
  &__next:after
    content: $ticon-chevron-right
    margin-left: 8px
  &__list
    list-style: none
    font-size: 0
    margin: 0 -6px -6px
  &__item
    width: 20px
    display: inline-block
    vertical-align: middle
    font-size: 14px
    padding: 0 6px 6px
  &__label
    color: #b2b2b2

.breadcrumbs
  list-style: none
  display: flex
  flex-wrap: wrap
  margin: 0 -#{$cell-padding / 2} -#{$cell-padding / 2}
  &__item
    padding: 0 $cell-padding / 2 $cell-padding / 2
    position: relative
    &:after
      @extend %ticon
      content: $ticon-chevron-right
      font-size: 6px
      color: #999999
      position: absolute
      top: 50%
      right: 0
      +trf(translateY(-50%) translateX(50%))
      margin-top: -#{$cell-padding / 4}
      display: block
    &:last-child:after
      display: none
  &__link, &__label
    color: #999999
    font-size: 14px

.sidemenu
  list-style: none
  padding: $cell-padding
  background: #ffffff
  border-radius: $border-radius
  &__item
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
  &__item.is-active &__link
    color: #999999
  &__link
    line-height: 1.4
    font-size: 14px

.sidebar
  @keyframes menuSlideShow
    from
      opacity: 0
      transform: translate3d(-30%, 0, 0)
    to
      opacity: 1
      transform: none
  @keyframes menuSlideHide
    from
      opacity: 1
      transform: none
    to
      opacity: 0
      transform: translate3d(30%, 0, 0)
  &__item
    cursor: pointer
    overflow: hidden
    padding: 30px 25px
    background: #ffffff
    border-bottom: 1px solid #e9f0ec
    &:first-child
      border-radius: $border-radius $border-radius 0 0
    &:last-child
      border-radius: 0 0 $border-radius $border-radius
      border-bottom: 0
  &__item--sub &__link:before
    display: block
  &__item.is-toggled &__link:before, &__item.is-active &__link:before
    +trf(rotate(180deg))
  &__item.is-active &__sub
    display: block
  &__item.is-active &__sub-item
    opacity: 1
  &__link
    font-weight: bold
    font-size: 18px
    color: $font-color
    display: block
    position: relative
    &:before
      @extend %ticon
      content: $ticon-chevron-down
      color: #adadad
      font-size: 5px
      display: none
      position: absolute
      right: 0
      top: 50%
      transition: all ease .3s
      margin-top: -2px
  &__sub
    margin-top: 15px
    display: none
    list-style: none
    &-item
      margin-bottom: 15px
      opacity: 0
      &.is-showing
        animation: menuSlideShow .3s ease-in-out forwards
      &.is-hiding
        animation: menuSlideHide .3s ease-in-out forwards
      @for $i from 1 through 10
        &:nth-child(#{$i})
          animation-delay: 0.1s * $i
      &:last-child
        margin-bottom: 0
    &-link
      font-size: 16px

.filters
  background: #ffffff
  border-radius: $border-radius
  &__group
    padding: 20px 30px
    border-bottom: 1px solid #e9f0ec
    &:last-child
      border-bottom: 0
  &__title
    font-size: 15px
    margin-bottom: 15px
  &__reset
    border: 0
    background: #ffffff
    font-weight: 300
    font-size: 15px
    padding: 15px
    text-align: center
    display: block
    width: 100%
    border-radius: 0 0 $border-radius $border-radius
    transition: all ease-in-out .3s
    &:hover
      background: $style-color3
      color: #fff
  .input-range
    margin-bottom: 10px

.old-price
  position: relative
  display: inline-block
  &:before
    position: absolute
    content: ''
    left: -2px
    right: 1px
    top: 50%
    margin-top: -#{+em(2px, 14px)}
    display: block
    height: 2px
    background: #f67a7a

.bg-title
  @extend %table
  &__inn
    height: 330px
    text-align: center
    color: #fff
    background: $style-color url('../img/title-bg.png') no-repeat center right
  &__title
    @extend .title
    color: #fff
    font-size: 42px
    +r($sm)
      font-size: 38px
    +r($xxs)
      font-size: 35px
  &__desc
    margin-top: 35px
    font-weight: 300
    font-size: 19px
    line-height: 1.6
    +r($sm)
      font-size: 17px
      margin-top: 25px
    +r($xxs)
      font-size: 15px
      margin-top: 15px
    > span
      font-weight: normal

.char-descs
  display: flex
  flex-wrap: wrap
  margin: 0 -#{$cell-padding / 2} -#{$cell-padding}
  +r($xxs)
    margin: 0
  &__cell
    width: 50%
    padding: 0 #{$cell-padding / 2} $cell-padding
    +r($xxs)
      width: 100%
      padding: 0

.char-desc
  &__char
    font-family: 'Phenomena'
    font-weight: bold
    font-size: 30px
    color: $style-color2
    width: 50px
    height: 50px
    line-height: 50px
    border-radius: 50%
    background: #ffffff
    text-transform: uppercase
    margin-bottom: 40px
    text-align: center
    position: relative
    left: -20px
    +r($sm)
      margin-bottom: 20px
  &__text
    font-size: 17px
    font-weight: 300
    line-height: 1.6
    +r($sm)
      font-size: 15px

.statistics
  text-align: center
  &--lg
    & + &
      margin-top: 30px
  &--lg &__num
    font-size: 42px
    +r($sm)
      font-size: 38px
    +r($xxs)
      font-size: 32px
  &--lg &__label
    margin-top: 10px
    font-weight: normal
  &__num
    font-family: 'Phenomena'
    font-weight: bold
    font-size: 30px
    color: $style-color2
  &__label
    font-size: 14px
    margin-top: 5px
    font-weight: 300

.cart-item
  padding: $cell-padding 0
  border-bottom: 1px solid #e9f0ec
  +r($sm)
    padding: 20px 0
  +r($xxs)
    padding: 15px 0
  &:last-child
    border-bottom: 0
  &__inn
    @extend %table
  &__item
    font-size: 15px
  &__name
    .small-product
      +r($sm)
        display: block
    .cart-item__price, .cart-item__sum, .item-count
      margin-top: 10px
  &__price
    font-weight: bold
    font-size: 15px
    +r($sm)
      > *
        display: inline-block
    .old-price
      margin-top: 13px
      +r($sm)
        margin-top: 0
  &__sum
    font-size: 18px
    font-weight: bold
    +r($sm)
      font-size: 16px
    &-label
      font-size: 14px
      color: #999
      display: none
      font-weight: normal
      +r($sm)
        display: inline
  &__remove
    width: 1%
    white-space: nowrap
    &-btn
      display: block
      &:before
        @extend %ticon
        content: $ticon-close
        font-size: 12px
        color: #b9b9b9


.slideout-menu
  position: fixed
  top: 0
  height: 100%
  overflow: auto
  background: #fff
  width: #{$slide-width}px
  display: none
  z-index: 99
  transition: all ease .5s
  &.slideout-menu-left
    left: 0
  &.slideout-menu-right
    right: 0