@keyframes showFixedHeader
  from
    +trf(translateY(-100%))
  to
    +trf(translateY(0))


.header
  background: #ffffff
  +r($sm)
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 300
    box-shadow: 0 0 20px 0 rgba($font-color, 0.05)
  &.is-fixed
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 300
    box-shadow: 0 0 20px 0 rgba($font-color, 0.05)
    animation: showFixedHeader .3s forwards
    .nav__link
      font-size: 16px
  &.is-fixed &__inn
    height: 70px
  &.is-fixed &__auth-btn, &.is-fixed &__search-btn
    display: inline-block
  &__inn
    @extend %table
    height: 120px
    position: relative
    +r($sm)
      height: 60px
  &__logo
    width: $cell * 3
    +r($sm)
      width: auto
    .logo
      &__name
        +r($sm)
          font-size: 30px
        +r($xxs)
          font-size: 25px
  &__nav
    padding: 0 30px
    +r($md)
      padding: 0 20px
    +r($sm)
      display: none
  &__actions
    width: 1%
    white-space: nowrap
    .btn
      font-size: 18px
      height: 50px
      line-height: 50px
      .ticon
        font-size: 19px
  &__auth-btn, &__search-btn, &__nav-btn
    display: none
  &__cart-btn.is-active
    background: $style-color3
    color: #ffffff
    border-bottom-right-radius: 0px
    border-bottom-left-radius: 0
  &__auth-btn, &__search-btn, &__cart-btn
    +r($sm)
      display: none !important
  &__nav-btn
    +r($sm)
      display: block
  &__cart
    display: none
    position: absolute
    top: 0
    right: 0
    padding-left: $cell * 3 + $cell-padding
    width: 100%
    animation: remodal-opening-keyframes .3s forwards cubic-bezier(.2,0,.2,1)
    z-index: 199
    +r($lg)
      padding-left: 0
    &.is-active
      display: block
      +r($sm)
        display: none
    .cart
      border: 2px solid $style-color3
      border-radius: $border-radius
      border-top-right-radius: 0
      &__c-amount, &__c-price
        width: 120px
  &__search
    position: absolute
    right: 0
    top: 50%
    +trf(translateY(-50%))
    width: 100%
    display: none
    .input
      height: 55px
      line-height: 55px
      font-size: 16px