// Modal
.md-login
  max-width: 470px
  &__footer
    text-align: center
    border-top: 1px solid #e9f0ec
    padding: 35px 10px
    +r($xxs)
      padding: 20px 10px
  &__reg
    font-size: 16px
    font-weight: 300
    +r($xxs)
      font-size: 14px
    a
      font-weight: normal
      color: $style-color3
      transition: color ease .3s
      &:hover
        color: $style-color2
  &__actions
    @extend %table
    +r($tiny)
      display: block
      > *
        display: block
    &-submit
      width: 150px
      +r($xxs)
        width: 120px
      +r($tiny)
        width: 100%
    &-social
      text-align: right
      +r($tiny)
        text-align: center
        padding-top: 20px
  &__social
    display: inline-block
    text-align: left
    +r($tiny)
      text-align: center
    &-label
      display: block
      color: #999999
      margin-bottom: 7px
  .input
    height: 55px
    line-height: 55px
    font-size: 16px
    background: #fff
    +r($xxs)
      font-size: 14px
      height: 45px
      line-height: 45px

.md-click
  max-width: 420px


// Pages
.p-main
  &__slider
    position: relative
    .swiper-nav
      +rmin($md)
        position: absolute
        top: 50%
        left: 0
        width: 100%
        right: 0
        max-width: #{$max-width}px
        margin: 0 auto
    .swiper-next
      right: #{$wrapper-padding}px
    .swiper-prev
      left: #{$wrapper-padding}px
      +rmin($md)
        left: auto
        right: #{65 + $wrapper-padding}px
  &__slide
    @extend %table
    height: 390px
    position: relative
    +r($sm)
      height: 300px
    +r($xxs)
      height: 250px
    +r($tiny)
      height: 200px
    &:before
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: url('../img/color.png') no-repeat
      background-size: cover
      content: ''
      z-index: 0
      display: block
    &-inn
      background: url('../img/title-bg.png') no-repeat center right
      position: relative
      z-index: 1
      text-align: center
      padding-left: $cell * 3 + $cell-padding / 2
      padding-right: 110px
      +r($md)
        padding: 0 40px
    &-title
      display: inline-block
      position: relative
      z-index: 1
      font-size: 42px
      font-family: 'Phenomena'
      font-weight: bold
      color: #ffffff
      text-align: left
      +r($sm)
        font-size: 35px
      +r($xxs)
        font-size: 30px
  &__stats
    position: relative
    +r($sm)
      margin: 0 -#{$wrapper-padding}px
    +r($xxs)
      display: none
    &-title
      font-size: 18px
      margin-bottom: 30px
      +r($md)
        margin-bottom: 15px
    &-inn
      position: absolute
      height: 390px
      width: $cell * 3
      left: 0
      top: 0
      z-index: 9
      background: #f2f6f4
      @extend %table
      +r($md)
        width: 100%
        height: auto
        position: relative
        text-align: center
      > div
        padding: 25px
    &-values
      +r($md)
        display: flex
        flex-wrap: nowrap
        justify-content: space-around
        margin: 0 -10px -10px
    .statistics
      margin-bottom: 20px
      text-align: left
      +r($md)
        margin-bottom: 0
        padding: 0 10px 10px
      &:last-child
        margin-bottom: 0
  &__items
    padding: 60px 0
    +r($sm)
      padding: 40px 0
    +r($xxs)
      padding: 30px 0
  &__about
    background: #ffffff
    text-align: center
    &-inn
      padding: 95px 0 40px
      +r($md)
        padding: 60px 0 30px
      +r($sm)
        padding: 50px 0 25px
      +r($xxs)
        padding: 30px 0 20px
    &-text
      font-size: 19px
      font-weight: 300
      line-height: 1.6
      +r($sm)
        font-size: 16px
      +r($xxs)
        font-size: 14px
    &-more
      margin-top: 50px
      +r($md)
        margin-top: 30px
      +r($sm)
        margin-top: 25px
      +r($xxs)
        margin-top: 15px
  .certs
    +r($xxs)
      display: none

.p-404
  padding: 150px 0
  +r($md)
    padding: 120px 0
  +r($sm)
    padding: 60px 0
  +r($xxs)
    padding: 30px 0
  &__inn
    @extend %table
    +r($sm)
      display: block
      > *
        display: block
        text-align: center
  &__left
    padding-right: $cell-padding
    width: 590px
    +r($md)
      width: 450px
    +r($sm)
      width: 100%
      padding: 0
  &__num
    font-size: 395px
    font-family: 'Phenomena'
    font-weight: bold
    color: $style-color
    position: relative
    top: -#{+em(16, 395)}
    +r($md)
      font-size: 320px
    +r($xs)
      font-size: 280px
    +r($xxs)
      font-size: 200px
  &__title
    margin-bottom: 40px
    +r($xs)
      margin-bottom: 20px
  &__reasons
    margin-bottom: 45px
    +r($xs)
      margin-bottom: 25px
    &-title
      font-size: 19px
      font-weight: bold
      margin-bottom: 15px
      +r($xxs)
        font-size: 15px
    .list
      display: inline-block

.p-about
  &__top
    background: #ffffff
    padding: 0 100px
    border-radius: 0 0 $border-radius $border-radius
    +r($md)
      padding: 0 25px
  &__chars
    margin-top: -25px
    margin-bottom: 80px
    display: inline-block
    width: 100%
    +r($sm)
      margin-bottom: 30px
  &__stats
    @extend %table
    +r($xs)
      display: flex
      flex-wrap: wrap
      > *
        display: block
    & + &
      margin-top: 40px
      +r($xs)
        margin-top: 20px
    table-layout: fixed
    &-desc
      order: 2
    &-num
      width: 200px
      padding: 0 20px
      order: 1
      +r($xs)
        width: 100%
        text-align: center
        padding-bottom: 20px
        margin-bottom: -10px
        .statistics
          display: inline-block
          vertical-align: middle
          padding: 0 10px 10px
          margin-top: 0
  &__certs
    margin-top: 70px
    +r($md)
      margin-top: 20px
    .certs
      margin: 0 -40px
      padding: 0 40px
      +r($md)
        margin: 0
    .certs__item
      padding: 0
    .swiper-container
      padding-top: 20px
    .swiper-prev, .swiper-next
      margin-top: 10px
      &:before
        color: #b7b7b7
  &__bottom
    padding: 60px 70px
    +r($md)
      padding: 60px 0
    +r($sm)
      padding: 30px 0
    &-title
      margin-bottom: 35px
      text-align: center
      +r($sm)
        margin-bottom: 20px
  &__contacts
    background: #ffffff
    @extend %table
    table-layout: fixed
    +r($xxs)
      display: block
      > *
        display: block
    &-left
      width: 330px
      padding-bottom: $cell-padding
      +r($sm)
        width: 260px
        padding-bottom: 15px
      +r($xxs)
        width: 100%
    &-right
      position: relative
    &-groups
      +r($xxs)
        display: flex
        flex-wrap: wrap
        margin: 0 -10px -20px
    &-group
      margin-bottom: 25px
      +r($sm)
        margin-bottom: 15px
      +r($xxs)
        width: 50%
        padding: 0 10px 20px
        margin-bottom: 0
      +r($tiny)
        width: 100%
      &:last-child
        margin-bottom: 0
    &-label
      font-size: 14px
      color: #999999
    &-value
      font-size: 18px
      margin-top: 7px
      line-height: 1.4
      +r($sm)
        font-size: 16px
      +r($xxs)
        font-size: 14px
    .desc-tabs__content
      padding-left: $cell-padding
      padding-right: $cell-padding
      +r($sm)
        padding: 15px
    .desc-tabs__item:nth-child(2)
      padding-left: $cell-padding
      padding-right: $cell-padding
      +r($sm)
        padding-left: 15px
        padding-right: 15px
  &__map
    &, > div
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 1
      overflow: hidden
      +r($xxs)
        height: 200px
        position: static
    > div
      height: calc(100% + 40px)
  &__legal
    padding: 30px 30px 0
    display: flex
    flex-wrap: nowrap
    +r($sm)
      flex-wrap: wrap
      padding: 15px 0 0
      margin: 0 -10px -10px
    &-cell
      font-size: 15px
      font-weight: 300
      text-align: center
      flex-grow: 1
      line-height: 1.4
      +r($sm)
        width: 50%
        padding: 0 10px 10px
        font-size: 13px
        &:nth-child(2n+1)
          text-align: left
        &:nth-child(2n)
          text-align: right
      +r($tiny)
        font-size: 11px
      &:first-child
        text-align: left
      &:last-child
        text-align: right
