.item
  padding: $cell-padding
  background: #ffffff
  border-radius: 5px
  +r($sm)
    padding: 20px
  +r($xxs)
    padding: 15px
  &__title
    margin-bottom: 25px
  &__main
    @extend %table
    table-layout: fixed
    +r($xs)
      display: block
      > *
        display: block
    > *
      vertical-align: top
  &__gallery
    width: $cell * 5
    +r($lg)
      width: 300px
    +r($xs)
      width: 100%
  &__info
    padding-left: $cell-padding
    +r($xs)
      padding: 20px 0 0
  &__group
    margin: 0 -#{$cell-padding}
    padding: 0 $cell-padding 35px
    border-bottom: 1px solid $style-color4
    +r($sm)
      margin: 0 -20px
      padding: 0 20px 25px
    +r($sm)
      margin: 0 -15px
      padding: 0 15px 20px
    &-title
      font-size: 18px
      font-weight: bold
      margin-bottom: 25px
    &:last-child
      padding-bottom: 0
      border-bottom: 0
  &__desc
    margin-bottom: 40px
    +r($xs)
      margin-bottom: 20px
  &__cart-btn
    > span:before
      @extend %ticon
      content: $ticon-bag
      font-size: 20px;
      margin-right: 0.5em
      position: relative
      top: -0.15em
      vertical-align: inherit
    &.is-active
      background: #33b187
  &__select
    margin-bottom: 10px
  &__order
    border: 1px solid $style-color4
    padding: 20px
    border-radius: $border-radius
    margin-bottom: 10px
    &-label
      font-weight: 300
    &-row
      @extend %table
      margin-bottom: 8px
      &:last-child
        margin-bottom: 0
    &-left
      width: 1%
      white-space: nowrap
    &-right
      text-align: right
  &__price
    font-size: 18px
    font-weight: bold
    display: inline-block
    vertical-align: bottom
    &.old-price
      font-weight: normal
      font-size: 13px
      margin-right: 10px
      top: -#{+em(2px, 13px)}
  &__tabs
    margin: 0 -15px
    .desc-tabs__content, .desc-tabs__item:nth-child(2)
      padding-left: $cell-padding
      padding-right: $cell-padding
      +r($sm)
        padding-left: 20px
        padding-right: 20px
      +r($xxs)
        padding-left: 15px
        padding-right: 15px
  &__kit
    padding-top: $cell-padding
    overflow: hidden
    &-container
      display: flex
      margin: 0 -23px -#{$cell-padding}
      white-space: nowrap
    &-cell
      min-width: 250px
      width: 33.333%
      padding: 0 23px $cell-padding
      position: relative
      white-space: normal
      &:before
        $fs: 13px
        position: absolute
        @extend %ticon
        content: $ticon-plus
        font-size: $fs
        color: #70af97
        right: -$fs / 2
        top: 50%
        margin-top: -$fs / 2
        z-index: 1
      &:last-child, &:nth-child(3n)
        &:before
          display: none
  &__set
    padding-top: 30px
    &-bag
      display: flex
      flex-wrap: nowrap
      align-items: center
      +r($sm)
        flex-wrap: wrap
      &-left
        width: 170px
        flex-basis: 170px
        flex-shrink: 0
        +r($sm)
          width: 100%
          flex-basis: 100%
          text-align: center
          .product
            max-width: 300px
            display: inline-block
      &-right
        padding-left: $cell-padding
        flex-grow: 1
        +r($sm)
          padding-left: 0
          padding-top: 15px
        .cart__c-amount
          width: 120px
        .cart__c-price
          width: 100px
    &-items
      margin: 20px -#{$cell-padding / 2} 0
      padding: #{$cell-padding / 2} #{$cell-padding / 2}
      background: #f9fbfa
    .cart-item
      padding: 12px 15px
      +r($sm)
        padding-left: 0
        padding-right: 0
    &-order
      display: flex
      flex-wrap: nowrap
      margin-top: 30px
      +r($xxs)
        flex-wrap: wrap
      &-left
        flex-grow: 1
        padding-right: 40px
        +r($xxs)
          padding-right: 0
      &-right
        width: 180px
        text-align: center
        +r($xxs)
          width: 100%
          margin-top: 15px
        > div
          display: flex
          align-content: space-between
          flex-flow: wrap
          height: 100%
      &-row
        display: flex
        flex-wrap: nowrap
        text-align: right
        margin-bottom: 20px
        &:last-child
          margin-bottom: 0
      &-label
        font-size: 15px
        flex-grow: 1
      &-value
        width: 75px
        font-size: 15px
        font-weight: bold
      &-total
        font-weight: bold
        font-size: 18px
        flex-grow: 1
        color: $style-color3
        padding-bottom: 10px

.item-gallery
  &__thumbs
    margin-top: 10px
    +r($xxs)
      display: none
    .swiper-container
      width: 100%
    .swiper-slide
      border-radius: $border-radius
      overflow: hidden
      width: 80px
      height: 60px
      cursor: pointer
      box-sizing: border-box
      &:before
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        content: ''
        display: block
      &-active:before
        background: rgba(#fff, 0.333)
      img
        +img-cover
        display: block
  &__carousel
    position: relative
    .swiper-slide
      transition-property: opacity, transform
      opacity: 0
      transition-duration: 600ms
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
      img
        display: block
        +img-cover
      &-active
        opacity: 1
    .swiper-container
      width: 100%
      height: 330px
      border-radius: $border-radius
      overflow: hidden
      +r($lg)
        height: 250px
      +r($xxs)
        height: 200px
    .swiper-prev, .swiper-next
      display: none
      &:before
        color: #fff
      +r($sm)
        display: block
    .swiper-prev
      left: 15px
    .swiper-next
      right: 15px