.l-main
  overflow: hidden
  +r($sm)
    padding-top: 60px
  +slideout-open
    position: relative
    z-index: 101
    background: #f0f4f2
    &:before
      z-index: 9999
      width: 100%
      height: 100%
      content: ''
      display: block
      left: 0
      top: 0
      position: absolute
      background: rgba($style-color2, .85)
      animation: fadeIn .3s forwards
  .slideout-closing &
    &:before
      animation: fadeOut .3s forwards

.l-wrapper
  max-width: #{$max-width + ($wrapper-padding * 2)}px
  margin: 0 auto
  padding: 0 #{$wrapper-padding}px
  //position: relative
  //overflow: hidden

.l-content
  padding: 35px 0 60px
  +r($xs)
    padding: 25px 0 30px
  +r($xxs)
    padding: 15px 0 20px
  &__breadcrumbs
    margin-bottom: 35px
    +r($sm)
      margin-bottom: 20px
    +r($xxs)
      display: none
  > .title
    margin-bottom: 40px
    +r($sm)
      margin-bottom: 20px
.l-sidebar
  &__inn
    @extend %table
    table-layout: fixed
    > *
      vertical-align: top
  &__aside
    width: $cell * 3
    +r($md)
      display: none
    .sidebar, .filters
      margin-bottom: 25px
      &:last-child
        margin-bottom: 0
  &__main
    padding-left: $cell-padding
    +r($md)
      padding-left: 0
