.nav
  &__list
    list-style: none
    margin: 0 -23px -7px
    +r($md)
      margin: 0 -10px -7px
  &__item
    padding: 0 23px 7px
    position: relative
    display: inline-block
    +r($md)
      padding: 0 10px 7px
  &__item--sub &__link
    padding-right: 18px
    &:before
      display: block
  &__item:hover &__sub
    display: block
  &__link
    font-size: 19px
    color: $font-color
    position: relative
    display: inline-block
    +r($md)
      font-size: 16px
    &:before
      @extend %ticon
      content: $ticon-chevron-down
      font-size: 5px
      color: #a9a9a9
      position: absolute
      right: 0
      top: 50%
      +trf(translateY(-50%))
      display: none
  &__sub
    display: none
    //box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
    position: absolute
    animation: fadeInLeft .4s forwards
    left: 0
    top: 100%
    z-index: 99
    min-width: 100%
    &-list
      background: #f3f6f5
      padding: 25px
      border-radius: 10px
      white-space: nowrap
      display: inline-block
    &-item
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
    &-link
      font-size: 16px


.m-nav
  &__logo
    .logo
      width: 100%
      text-align: center
      &__inn
        display: block
        > *
          display: block
      &__img
        width: 100%
        img
          max-width: 100px
      &__name
        margin-top: 10px
        padding-left: 0
  &__contacts
    margin-top: 20px
    text-align: center
  &__actions
    text-align: center
  &__contact
    @extend .topbar__contact
    padding: 0
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    &-city
      @extend .topbar__contact-city
  &__phone
    @extend .topbar__phone
  &__link
    position: relative
    font-size: 13px
    &--icon
      padding-left: 32px
      .ticon
        color: #933f6e
        font-size: 24px
        position: absolute
        left: 0
        top: 50%
        +trf(translateY(-50%))
    > span
      color: #915677
  &__group
    border-bottom: 1px solid $style-color4
    padding: 15px 10px
  &__menu
    list-style: none
    margin: -15px -10px -15px
    &-title
      font-weight: bold
      font-size: 15px
      text-align: center
      background: #f5f5f5
      padding: 15px
    &-item
      border-bottom: 1px solid $style-color4
      &:last-child
        border-bottom: 0
    &-item--sub > &-link
      position: relative
      padding-right: 30px
      &:before
        @extend %ticon
        content: $ticon-chevron-down
        font-size: 6px
        position: absolute
        right: 10px
        top: 50%
        margin-top: -3px
    &-link
      padding: 15px 10px
      font-size: 14px
      display: block
    &-sub
      display: none
    &-sub &-link
      padding-left: 30px