.topbar
  border-bottom: 1px solid #e9f0ec
  background: #fff
  +r($sm)
    display: none
  &__inn
    @extend %table
    table-layout: fixed
    height: 50px
  &__c
    &-links
      width: $cell * 3
      +r($lg)
        display: none
    &-menu
      width: 270px
    &-contacts
      padding-left: $cell-padding
      +r($lg)
        padding-left: 0
    &-search
      width: 200px
      +r($sm)
        display: none
    &-auth
      text-align: right
      width: 120px
      +r($md)
        font-size: 0
        width: 40px
  &__nav
    ul
      list-style: none
      margin: 0 -15px -10px
    li
      display: inline-block
      vertical-align: middle
      padding: 0 15px 10px
  &__link
    font-weight: 300
    .ticon
      color: #cccccc
      vertical-align: baseline
      position: relative
      font-size: 15px
      top: +em(2px ,15px)
      margin-right: 4px
  &__contacts
    margin: 0 -15px -10px
  &__contact
    white-space: nowrap
    display: inline-block
    vertical-align: middle
    padding: 0 15px 10px
    &-city
      font-size: 12px
      font-weight: 300
      margin-left: 5px
  &__phone
    font-weight: bold
    font-size: 16px
    color: $font-color
  &__search
    position: relative
    &.is-active
      &:before
        right: 15px
        color: $style-color3
      .input
        animation: fadeIn .3s forwards
        animation-delay: .5s
    &.is-active &-label
      animation: fadeOut .5s forwards
    &-label
      font-size: 14px
      font-weight: 300
      padding-left: 10px
    &:before
      @extend %ticon
      content: $ticon-loupe
      position: absolute
      right: 100%
      top: 50%
      +trf(translateY(-50%))
      font-size: 15px
      color: #cccccc
      margin-top: -1px
      transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) .5s
      z-index: 2
    .input
      position: absolute
      z-index: 1
      width: 100%
      left: 0
      top: 50%
      +trf(translateY(-50%))
      opacity: 0
      padding-right: 35px