input, textarea
  font-size: 14px
  color: #151517
  font-family: 'Circe'

.complex-input
  &.is-focus &__icon .ticon
    color: $style-color2
  &__icon
    position: absolute
    top: 50%
    left: 20px
    +trf(translateY(-50%))
    .ticon
      font-size: 18px
      color: #d9d9d9
      transition: color ease-in-out .3s
      +r($xxs)
        font-size: 15px
  &__icon + input
    padding-left: 56px
    +r($xxs)
      padding-left: 45px
  &__input
    position: relative

.input
  height: 35px
  line-height: 35px
  font-size: 13px
  width: 100%
  padding: +em(3px, 16px) 10px 0
  border: 2px solid #e9f0ec
  transition: all ease-in-out .3s
  border-radius: 5px
  background: #eaf3f0
  &:focus
    background: #ffffff
    border-color: $style-color2
textarea.input
  resize: vertical
  height: 150px

.btn
  display: inline-block
  vertical-align: middle
  background: #f4f6f5
  border-radius: 6px
  font-size: 14px
  font-weight: bold
  color: $style-color3
  border: 0
  padding: +em(1px, 14px) 20px 0
  height: 40px
  line-height: 40px
  text-align: center
  transition: all ease-in-out .3s
  &[disabled]
    opacity: .7
    cursor: default
  &--transparent
    background-color: transparent
    color: #cccccc
  &--block
    width: 100%
  &--white
    background: #ffffff
    border: 1px solid #e7e7e7
    color: $font-color
  &--lg
    font-size: 18px
    height: 60px
    line-height: 60px
    +r($xxs)
      line-height: 50px
      height: 50px
      font-size: 16px
  &--i .ticon
    margin-right: 0 !important
  &--orange
    background: $style-color3
    color: #ffffff
  &:hover
    background: $style-color2
    color: #ffffff
  &--inline
    width: auto
  .ticon
    font-size: 20px
    margin-right: +em(10px, 20px)
    position: relative
    top: -#{+em(3px, 20px)}
  > span
    line-height: 1
    display: inline-block
    vertical-align: middle
  input
    display: none


.checkbox
  cursor: pointer
  display: inline-block
  font-size: 14px
  margin: 0 -7px
  & + &
    margin-left: 8px
  &--block
    display: block
    & + &
      margin: 10px 0 0 -8px
  &:hover i
    border-color: $style-color2
  a
    text-decoration: underline
    color: #1d1d1d
  input
    display: none
    &:checked + * i
      &:before, &:after
        opacity: 1
  &__i
    width: 1%
    white-space: nowrap
    vertical-align: top !important
    font-size: 0
  > div
    @extend .block-table
    > *
      line-height: 1.2
  i
    background: #eaf3f0
    display: inline-block
    font-style: normal
    height: 20px
    margin: 0 7px
    position: relative
    vertical-align: middle
    width: 20px
    border: 0
    border-radius: 5px
    transition: all ease .2s
    &:before, &:after
      background-color: $style-color
      position: absolute
      transition: opacity ease-out 0.2s
      opacity: 0
      content: ""
      display: block
    &:before
      height: 10px
      left: 10px
      top: 6px
      +trf(rotate(45deg))
      width: 3px
    &:after
      height: 6px
      left: 6px
      top: 9px
      +trf(rotate(-45deg))
      width: 3px
  &--sm
    color: #373737
    i
      width: 16px
      height: 16px
  &--sm input:checked + div i
    &:before
      width: 8px
      height: 8px


.select2
  z-index: 99 !important
.select2-container--default .select2-selection--single .select2-selection__placeholder
  color: #c2c2c2
.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height: 31px
  height: auto
  padding-left: 0
  padding-top: 1px

.select2-container
  &--open
    z-index: 10001
  .select2-selection--single
    @extend .input
    //line-height: 1
    //height: auto
    margin-top: 0
  .icon
    margin-right: 10px
.select2-container--default .select2-selection--single .select2-selection__arrow
  top: 50%
  +trf(translateY(-50%))
  right: 13px
  height: auto
  width: auto
  font-size: 0
  line-height: 1
  b
    display: none
  &:before
    @extend %ticon
    content: $ticon-chevron-down
    display: inline-block
    font-size: 5px
    color: $style-color3
.select2-container--open.select2-container--default .select2-selection--single .select2-selection__arrow:before
  +trf(rotate(180deg))
.select2-container .select2-selection--single .select2-selection__rendered
  padding-right: 5px
  color: #533947
.select2-dropdown
  border: 1px solid #e2e6e4
  box-shadow: none
  z-index: 999
.select2-results__option
  padding: 12px 8px
  font-size: 13px
  color: $font-color
  +r($xs)
    font-size: 14px
.select2-container--default .select2-results__option--highlighted
  background: $style-color2 !important
.select2-container--default .select2-results__option[aria-selected="true"]
  background: $style-color3 !important
  color: #fff
.select2-container--default .select2-selection--single .select2-selection__arrow b
  border-color: #cccccc transparent transparent transparent

// Light Gallery
.lg-toolbar
  background-color: transparent

.lg-backdrop.in
  background: rgba($style-color2, .85)

.lg-outer .lg-thumb
  display: inline-block

.lg-outer .lg-thumb-outer
  text-align: center
  background: transparent

.lg-actions .lg-next, .lg-actions .lg-prev
  background: $style-color3
  color: #fff !important
.lg-toolbar .lg-icon
  color: #fff
.lg-outer .lg-img-wrap
  padding: 50px 0 120px

.lg-outer .lg-thumb-item
  position: relative
  overflow: visible
  border: 0
  &:before
    position: absolute
    border-radius: $border-radius
    width: 100%
    height: 100%
    left: 0
    top: 0
    content: ''
    display: block
  &, img
    border-radius: $border-radius
  &.active
    &:before
      background: rgba(#fff, 0.333)

// Ion range slider
.irs
  height: 30px
  &-min, &-max, &-from, &-to, &-single
    font-size: 10px
    padding: 1px 5px
    color: #b2b2b2
    line-height: 1.333
    text-shadow: none
    top: 15px
  &-from, &-to, &-single
    top: 15px
  &-bar, &-line
    top: 4px
    height: 3px
  &-line
    background: #dbebe5
  &-bar
    background: #a5cdbe
  &-slider
    top: 0px
    width: 11px
    height: 11px
    border: 0
    background: #70af97
    /* W3C
    border-radius: 50%
    cursor: pointer
    &.state_hover, &:hover
      background: $style-color3

.password-input
  &__forgot
    position: absolute
    top: 50%
    +trf(translateY(-50%))
    font-size: 13px
    right: 20px
    margin-top: +em(2px, 13px)
  .input
    padding-right: 75px

.input-range
  @extend %table
  &__dash
    width: 1%
    padding: 0 5px
    &:before
      display: block
      content: ''
      height: 1px
      width: 10px
      background: #d8d8d8

.input-group
  @extend %table
  &__input:first-child .input, &__label:first-child
    border-radius: 5px 0 0 5px
  &__input:last-child .input, &__label:last-child
    border-radius: 0 5px 5px 0
  &__label
    width: 1%
    white-space: nowrap
    font-size: 14px
    color: #525252
    padding: 3px 7px 0
    background: #f2f2f2



.item-count
  font-size: 0
  display: inline-block
  white-space: nowrap
  vertical-align: middle
  &__num, &__minus, &__plus
    display: inline-block
    vertical-align: middle
    line-height: 25px
  &__num
    font-size: 15px
    font-weight: bold
    width: 40px
    text-align: center
    +r($xxs)
      font-size: 13px
      width: 30px
  &__minus, &__plus
    font-size: 0
    width: 25px
    height: 25px
    line-height: 25px
    border-radius: 50%
    border: 1px solid #cfcfcf
    background: #fff
    cursor: pointer
    transition: all ease .3s
    position: relative
    text-align: center
    +r($xxs)
      width: 20px
      height: 20px
      line-height: 20px
    &:before, &:after
      content: ''
      display: inline-block
      background: #cfcfcf
      vertical-align: middle
      line-height: 1
    &:before
      width: 11px
      height: 1px
      position: relative
      top: -2px
      +r($xxs)
        width: 9px
        top: -1px
    &:hover
      background: #f16d50
      border-color: #f16d50
      &:before, &:after
        background: #fff
    &.disabled
      opacity: .5
      pointer-events: none
  &__minus
    font-size: 20px
  &__plus
    &:before
      top: -1px
    &:after
      position: absolute
      height: 11px
      width: 1px
      left: 11px
      top: 50%
      +trf(translateY(-50%))
      +r($xxs)
        left: 9px
        height: 9px

.desc-tabs
  overflow: hidden
  &__menu
    list-style: none
    font-size: 0
    position: relative
    white-space: nowrap
    display: table
  &__item
    display: table-cell
    vertical-align: middle
    padding: 0 20px
    +r($xxs)
      padding: 0 10px
  &__item.is-active &__link
    color: #999999
  &__link
    font-size: 16px
    display: inline-block
    padding: 25px 0
    transition: color ease .3s
    color: $font-color
    +r($xs)
      padding: 20px 0
    +r($xxs)
      font-size: 14px
      padding: 15px 0
    &:hover
      color: $style-color3
  &__bar
    position: absolute
    bottom: -1px
    height: 3px
    width: 0
    transition: all cubic-bezier(0.86, 0, 0.07, 1) .6s
    transition-property: left, width, background
    background: $style-color3
    left: 0
  &__content
    border-top: 1px solid #e9f0ec
    padding: $cell-padding 20px 0
    +r($sm)
      padding-top: 15px
  &__pane
    display: none
    &.is-active
      display: block


.product-select
  border: 2px solid $style-color4 !important
  background: #ffffff !important
  height: 55px !important
  line-height: 55px !important
  padding: 0 20px !important
  &__option
    &-inn
      @extend %table
    &-value
      font-size: 16px
      color: $font-color
      +r($xxs)
        font-size: 14px
    &-id
      width: 1%
      white-space: nowrap
      font-size: 12px
      color: #999999
      &:before
        content: 'Арт. '
  .select2-selection__rendered
    line-height: 51px !important
    padding-right: 30px !important
  .select2-selection__arrow
    right: 25px !important
    &:before
      font-size: 9px !important
  &__dropdown
    .select2-results__option
      padding-left: 20px
      padding-right: 20px
      &[aria-selected="true"], &--highlighted
        .product-select__option-id, .product-select__option-value
          color: #ffffff



.hamburger
  @mixin sizing($size, $padding, $thickness, $space)
    width: #{$size}px
    height: #{$size}px
    span
      top: #{($size / 2) - ($thickness / 2)}px
      left: #{$padding}px
      right: #{$padding}px
      height: #{$thickness}px
      &:before, &:after
        height: #{$thickness}px
      &:before
        top: -#{$thickness + $space}px
      &:after
        bottom: -#{$thickness + $space}px
  display: inline-block
  vertical-align: middle
  position: relative
  overflow: hidden
  margin: 0
  padding: 0
  font-size: 0
  text-indent: -9999px
  appearance: none
  box-shadow: none
  border: none
  cursor: pointer
  transition: background 0.3s
  +sizing(23, 0, 2, 5)
  &:focus
    outline: none
  &:hover, &.is-active
    //background: $style-color2
    span, span:before, span:after
      background: $style-color2
  span
    $color: $style-color2
    display: block
    position: absolute
    background: $color
    transition-timing-function: ease
    transition-duration: .15s
    transition-property: transform
    &:before, &:after
      position: absolute
      display: block
      left: 0
      width: 100%
      background-color: $color
      content: ""
  &--htx
    //background-color: #ff3264
    span
      //transition: background 0s 0.3s
      &:before, &:after
        transition-duration: 0.3s, 0.3s
        transition-delay: 0.3s, 0s
      &:before
        transition-property: top, transform
      &:after
        transition-property: bottom, transform
    &.is-active
      //background-color: #cb0032
      span
        background: none
        &::before
          top: 0
          +trf(rotate(45deg))
        &:after
          bottom: 0
          +trf(rotate(-45deg))
        &:before, &:after
          transition-delay: 0s, 0.3s
  &--spin
    span
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
      &:before
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in
      &:after
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    &.is-active
      span
        transform: rotate(225deg)
        transition-delay: 0.12s
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
        &:before
          top: 0
          opacity: 0
          transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out
        &:after
          bottom: 0
          transform: rotate(-90deg)
          transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1)

.search
  position: relative
  &.is-active, &.is-init
    &:before
      right: 15px
      color: $style-color3
  &.is-active
    .input
      animation: fadeIn .3s forwards
      animation-delay: .5s
  &.is-active &__label
    animation: fadeOut .5s forwards
  &__label
    font-size: 14px
    font-weight: 300
    padding-left: 10px
  &:before
    @extend %ticon
    content: $ticon-loupe
    position: absolute
    right: 100%
    top: 50%
    +trf(translateY(-50%))
    font-size: 15px
    color: #cccccc
    margin-top: -1px
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) .5s
    z-index: 2
  &:not(.is-init) .input
    position: absolute
    z-index: 1
    width: 100%
    left: 0
    top: 50%
    +trf(translateY(-50%))
    opacity: 0
  .input
    padding-right: 35px

.aside-btn
  position: fixed
  left: 0
  bottom: 10px
  padding: 10px
  background: $style-color
  z-index: 300
  color: #ffffff
  border-radius: 0 $border-radius $border-radius 0
  font-size: 0
  display: none
  +r($md)
    display: block
  .ticon
    font-size: 15px

