@function em($size, $context: 16)
  @return ($size/$context) * 1em

@function img-url($image)
  @return url('../img/#{$image}')

=image($image)
  background-image: img-url($image)

=trans($what: all, $dur: 0.2s, $easing: ease)
  transition: $what $dur $easing

=img-cover
  html:not(.object-fit) &
    position: absolute
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    +trf(translate(-50%, -50%))
    top: 50%
    left: 50%
  .object-fit &
    width: 100%
    height: 100%
    object-fit: cover

=smooth-scroll
  -webkit-overflow-scrolling: touch

=smooth-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=gpu
  transform: translate3d(0,0,0)

=md
  +r(1023)
    @content

=sm
  +r(767)
    @content

=xs
  +r(599)
    @content
