
/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License

/* ==========================================================================
 * Remodal's necessary styles
 * ==========================================================================

/* Hide scroll bar

html.remodal-is-locked
  overflow: hidden
  -ms-touch-action: none
  touch-action: none

/* Anti FOUC

.remodal, [data-remodal-id]
  display: none

/* Necessary styles of the overlay

.remodal-overlay
  position: fixed
  z-index: 9999
  top: -5000px
  right: -5000px
  bottom: -5000px
  left: -5000px
  display: none

/* Necessary styles of the wrapper

.remodal-wrapper
  position: fixed
  z-index: 10000
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: none
  overflow: auto
  text-align: center
  min-width: 320px
  -webkit-overflow-scrolling: touch
  &:after
    display: inline-block
    height: 100%
    margin-left: -0.05em
    content: ""

/* Fix iPad, iPhone glitches

.remodal-overlay, .remodal-wrapper
  -webkit-backface-visibility: hidden
  backface-visibility: hidden

/* Necessary styles of the modal dialog

.remodal
  position: relative
  outline: none
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  text-size-adjust: 100%
  text-align: left

.remodal-is-initialized
  /* Disable Anti-FOUC
  display: inline-block

/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License

/* ==========================================================================
 * Remodal's default mobile first theme
 * ==========================================================================

/* Default theme styles for the background

.remodal-bg
  &.remodal-is-opening, &.remodal-is-opened
    -webkit-filter: blur(3px)
    filter: blur(3px)

/* Default theme styles of the overlay

.remodal-overlay
  background: rgba($style-color2, .85)
  &.remodal-is-opening, &.remodal-is-closing
    -webkit-animation-duration: 0.3s
    animation-duration: 0.3s
    -webkit-animation-fill-mode: forwards
    animation-fill-mode: forwards
  &.remodal-is-opening
    -webkit-animation-name: remodal-overlay-opening-keyframes
    animation-name: remodal-overlay-opening-keyframes
  &.remodal-is-closing
    -webkit-animation-name: remodal-overlay-closing-keyframes
    animation-name: remodal-overlay-closing-keyframes

/* Default theme styles of the wrapper

.remodal-wrapper
  padding: 55px 20px 0
  perspective: 800px
  -webkit-perspective: 800px
/* Default theme styles of the modal dialog

.remodal
  box-sizing: border-box
  width: 100%
  margin-bottom: 10px
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)
  animation-duration: .3s
  animation-timing-function: cubic-bezier(.2,0,.2,1)
  &.remodal-is-opening, &.remodal-is-closing
    -webkit-animation-duration: 0.3s
    animation-duration: 0.3s
    -webkit-animation-fill-mode: forwards
    animation-fill-mode: forwards
  &.remodal-is-opening
    -webkit-animation-name: remodal-opening-keyframes
    animation-name: remodal-opening-keyframes
  &.remodal-is-closing
    -webkit-animation-name: remodal-closing-keyframes
    animation-name: remodal-closing-keyframes
  vertical-align: middle

/* Vertical align of the modal dialog

.remodal-wrapper:after
  vertical-align: middle


/* Keyframes
 * ==========================================================================

@keyframes remodal-opening-keyframes
  from
    +trf(scale(.95) rotateX(7deg) translateY(10px))
    opacity: 0
  to
    +trf(scale(1) rotateX(0) translateY(0))
    opacity: 1


@keyframes remodal-closing-keyframes
  from
    +trf(scale(1) rotateX(0) translateY(0))
    opacity: 1
  to
    +trf(scale(.95) rotateX(7deg) translateY(10px))
    opacity: 0


@-webkit-keyframes remodal-overlay-opening-keyframes
  from
    opacity: 0

  to
    opacity: 1


@keyframes remodal-overlay-opening-keyframes
  from
    opacity: 0

  to
    opacity: 1


@-webkit-keyframes remodal-overlay-closing-keyframes
  from
    opacity: 1

  to
    opacity: 0


@keyframes remodal-overlay-closing-keyframes
  from
    opacity: 1

  to
    opacity: 0

/* IE8
 * ==========================================================================

.lt-ie9
  .remodal-overlay
    background: #2b2e38
  .remodal
    width: 700px