@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont/iconfont.eot?812390402');
  src: url('../fonts/iconfont/iconfont.eot?812390402#iefix') format('eot'),
    url('../fonts/iconfont/iconfont.woff2?812390402') format('woff2'),
    url('../fonts/iconfont/iconfont.woff?812390402') format('woff'),
    url('../fonts/iconfont/iconfont.ttf?812390402') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$ticon-bag: "\EA01";
$ticon-chevron-down: "\EA02";
$ticon-chevron-left: "\EA03";
$ticon-chevron-right: "\EA04";
$ticon-chevron-up: "\EA05";
$ticon-close: "\EA06";
$ticon-facebook: "\EA07";
$ticon-filter: "\EA08";
$ticon-instagram: "\EA09";
$ticon-lock: "\EA0A";
$ticon-loupe: "\EA0B";
$ticon-mark: "\EA0C";
$ticon-menu: "\EA0D";
$ticon-plus: "\EA0E";
$ticon-skype: "\EA0F";
$ticon-telegram: "\EA10";
$ticon-twitter: "\EA11";
$ticon-user: "\EA12";
$ticon-vk: "\EA13";
$ticon-whatsapp: "\EA14";


%ticon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticon {
  @extend %ticon;
  display: inline-block;
  vertical-align: middle;
}

.ticon-bag:before { content: $ticon-bag; }
.ticon-chevron-down:before { content: $ticon-chevron-down; }
.ticon-chevron-left:before { content: $ticon-chevron-left; }
.ticon-chevron-right:before { content: $ticon-chevron-right; }
.ticon-chevron-up:before { content: $ticon-chevron-up; }
.ticon-close:before { content: $ticon-close; }
.ticon-facebook:before { content: $ticon-facebook; }
.ticon-filter:before { content: $ticon-filter; }
.ticon-instagram:before { content: $ticon-instagram; }
.ticon-lock:before { content: $ticon-lock; }
.ticon-loupe:before { content: $ticon-loupe; }
.ticon-mark:before { content: $ticon-mark; }
.ticon-menu:before { content: $ticon-menu; }
.ticon-plus:before { content: $ticon-plus; }
.ticon-skype:before { content: $ticon-skype; }
.ticon-telegram:before { content: $ticon-telegram; }
.ticon-twitter:before { content: $ticon-twitter; }
.ticon-user:before { content: $ticon-user; }
.ticon-vk:before { content: $ticon-vk; }
.ticon-whatsapp:before { content: $ticon-whatsapp; }
